{% extends 'stock/base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 justify-content-center mr-5 ml-5">

{% if validlink %}

<h3>Restablecer contraseña</h3>

<form method="post" action=".">
  {% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="Guardar" class="btn btn-primary navbar-btn btn-shadow btn-gradient" />
</form>

{% else %}

<p>El reinicio de contraseña ha fallado.</p>

{% endif %}


        </div>
    </div>
</div>


{% endblock %}