{% extends 'stock/usuario_base.html' %}
{% load  bootstrap4 %}

{% block content %}
<div class="container-fluid">
    <div class="row d-flex">
        <div class="col-md-6 mx-auto">
            {% block titulo %}

            {% endblock titulo %}

            <form method="POST" >
                {% csrf_token %}
                {% bootstrap_form form %}
                <a href='#' class="btn btn-primary navbar-btn btn-shadow btn-gradient">Guardar</a>

                {% comment %}
                {% buttons %}
                    <button type="submit" class="save btn btn-default">
                    {% block submit_text %}
                    Guardar
                    {% endblock %}</button>
                {% endbuttons %}
                {% endcomment %}
            </form>
        </div></div>

</div>
{% endblock %}
