{% extends 'stock/base.html' %}
{% load staticfiles %}

{% block nav %}
<ul class="navbar-nav ml-auto align-items-start align-items-lg-center">
    <li class="nav-item"><a href="#about-us" class="nav-link link-scroll">Sobre Gringo</a></li>
    <li class="nav-item"><a href="#testimonials" class="nav-link link-scroll">Testimonios</a></li>
</ul>
{% endblock %}

{% comment %}
{% block boton %}
<div class="navbar-text">
  <!-- Button trigger modal--><a href="/accounts/login/" class="btn btn-primary navbar-btn btn-shadow btn-gradient">Iniciar Sesión</a>
</div>
<div class="navbar-text">
  <!-- Button trigger modal--><a href="/accounts/register/" class="btn btn-primary navbar-btn btn-shadow btn-gradient">Registrate</a>
</div>
{% endblock %}
{% endcomment %}

{% block content %}

      <div class="container">
        <div class="row d-flex">
          <div class="text-center col-lg-6 text order-2 order-lg-1">
            <h1>GRINGO</h1>
            <h1>"El campo en tu bolsillo"</h1>
            <p class="hero-text">Un software pensado para la administración de tu campo. Fácil,
            rápido y eficiente.</p>

            {% if not request.user.is_authenticated %}
            <div class="CTA"><a href="/accounts/login/" class="btn btn-primary btn-shadow btn-gradient link-scroll">Iniciar Sesión</a><a href="/accounts/register/" class="btn btn-outline-primary">Registrate ahora </a></div>
            {% endif %}

          </div>
          <div class="col-lg-6 order-1 order-lg-2"><img src="{% static "img/Macbook.png" %}" alt="..." class="img-fluid"></div>
        </div>
      </div>
    </section>
    {% comment %}<section id="browser" class="browser">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="h3 mb-5">How it works</h2>
            <div class="browser-mockup">
              <div id="nav-tabContent" class="tab-content">
                <div id="nav-first" role="tabpanel" aria-labelledby="nav-first-tab" class="tab-pane fade show active"><img src="{% static "img/preview-3.png" %}" alt="..." class="img-fluid"></div>
                <div id="nav-second" role="tabpanel" aria-labelledby="nav-second-tab" class="tab-pane fade"><img src="{% static "img/preview-2.png" %}" alt="..." class="img-fluid"></div>
                <div id="nav-third" role="tabpanel" aria-labelledby="nav-third-tab" class="tab-pane fade"><img src="{% static "img/preview-1.png" %}" alt="..." class="img-fluid"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="myTab" role="tablist" class="nav nav-tabs">
          <div class="row">
            <div class="col-md-4"><a id="nav-first-tab" data-toggle="tab" href="#nav-first" role="tab" aria-controls="nav-first" aria-expanded="true" class="nav-item nav-link active"> <span class="number">1</span>Choose any website to turn into an interactive pinboard for feedback</a></div>
            <div class="col-md-4"><a id="nav-second-tab" data-toggle="tab" href="#nav-second" role="tab" aria-controls="nav-second" class="nav-item nav-link"> <span class="number">2</span>Choose any website to turn into an interactive pinboard for feedback</a></div>
            <div class="col-md-4"><a id="nav-third-tab" data-toggle="tab" href="#nav-third" role="tab" aria-controls="nav-third" class="nav-item nav-link"> <span class="number">3</span>Choose any website to turn into an interactive pinboard for feedback</a></div>
          </div>
        </div>
      </div>
    </section>{% endcomment %}
    <section id="about-us" class="about-us bg-gray">
      <div class="container">
        <h2>Acerca de Gringo</h2>
        <div class="row">
          <p class="lead col-lg-10">Gringo es un programa pensado para el campo. Con él, podrás registrar todos los movimientos que lleves a cabo en la administración de tus campañas. Es fácil de usar, es muy rápido y eficiente.</p>
        </div><a href="#" class="btn btn-primary btn-shadow btn-gradient">Descubre como adquirirlo</a>
      </div>
    </section>
    {% comment %}<section id="features" class="features">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="text col-lg-6 order-2 order-lg-1">
            <div class="icon"><img src="{% static "img/medal.svg" %}" alt="..." class="img-fluid"></div>
            <h4>Your peace of mind is our business</h4>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p><a href="#" class="btn btn-primary btn-shadow btn-gradient">View More</a>
          </div>
          <div class="image col-lg-6 order-1 order-lg-2"><img src="{% static "img/feature-1.png" %}" alt="..." class="img-fluid"></div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="image col-lg-6"><img src="{% static "img/feature-2.png" %}" alt="..." class="img-fluid"></div>
          <div class="text col-lg-6">
            <div class="icon"><img src="{% static "img/hourglass.svg" %}" alt="..." class="img-fluid"></div>
            <h4>Your peace of mind is our business</h4>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p><a href="#" class="btn btn-primary btn-shadow btn-gradient">View More</a>
          </div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="text col-lg-6 order-2 order-lg-1">
            <div class="icon"><img src="{% static "img/cup.svg" %}" alt="..." class="img-fluid"></div>
            <h4>Your peace of mind is our business</h4>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p><a href="#" class="btn btn-primary btn-shadow btn-gradient">View More</a>
          </div>
          <div class="image col-lg-6 order-1 order-lg-2"><img src="{% static "img/feature-3.png" %}" alt="..." class="img-fluid"></div>
        </div>
      </div>
    </section>
    <section id="extra-features" class="extra-features bg-primary">
      <div class="container text-center">
        <header>
          <h2>More great features             </h2>
          <div class="row">
            <p class="lead col-lg-8 mx-auto">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
          </div>
        </header>
        <div class="grid row">
          <div class="item col-lg-4 col-md-6">
            <div class="icon"> <i class="icon-diploma"></i></div>
            <h3 class="h5">Lorem Ipsum Dolor</h3>
            <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
          </div>
          <div class="item col-lg-4 col-md-6">
            <div class="icon"> <i class="icon-folder-1"></i></div>
            <h3 class="h5">Lorem Ipsum Dolor</h3>
            <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
          </div>
          <div class="item col-lg-4 col-md-6">
            <div class="icon"> <i class="icon-gears"></i></div>
            <h3 class="h5">Lorem Ipsum Dolor</h3>
            <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
          </div>
          <div class="item col-lg-4 col-md-6">
            <div class="icon"> <i class="icon-management"></i></div>
            <h3 class="h5">Lorem Ipsum Dolor</h3>
            <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
          </div>
          <div class="item col-lg-4 col-md-6">
            <div class="icon"> <i class="icon-pie-chart"></i></div>
            <h3 class="h5">Lorem Ipsum Dolor</h3>
            <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
          </div>
          <div class="item col-lg-4 col-md-6">
            <div class="icon"> <i class="icon-quality"></i></div>
            <h3 class="h5">Lorem Ipsum Dolor</h3>
            <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="testimonials" class="testimonials">
      <div class="container">
        <header class="text-center no-margin-bottom">
          <h2>Happy Clients</h2>
          <p class="lead">There are many variations of passages of Lorem Ipsum available, but the majority have</p>
        </header>
        <div class="owl-carousel owl-theme testimonials-slider">
          <div class="item-holder">
            <div class="item">
              <div class="avatar"><img src="{% static "img/avatar-3.jpg" %}" alt="..." class="img-fluid"></div>
              <div class="text">
                <div class="quote"><img src="{% static "img/quote.svg" %}" alt="..." class="img-fluid"></div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p><strong class="name">Jessica Watson</strong>
              </div>
            </div>
          </div>
          <div class="item-holder">
            <div class="item">
              <div class="avatar"><img src="{% static "img/avatar-5.jpg" %}" alt="..." class="img-fluid"></div>
              <div class="text">
                <div class="quote"><img src="{% static "img/quote.svg" %}" alt="..." class="img-fluid"></div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p><strong class="name">Sarrah Wood</strong>
              </div>
            </div>
          </div>
          <div class="item-holder">
            <div class="item">
              <div class="avatar"><img src="{% static "img/avatar-3.jpg" %}" alt="..." class="img-fluid"></div>
              <div class="text">
                <div class="quote"><img src="{% static "img/quote.svg" %}" alt="..." class="img-fluid"></div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p><strong class="name">Jessica Watson</strong>
              </div>
            </div>
          </div>
          <div class="item-holder">
            <div class="item">
              <div class="avatar"><img src="{% static "img/avatar-5.jpg" %}" alt="..." class="img-fluid"></div>
              <div class="text">
                <div class="quote"><img src="{% static "img/quote.svg" %}" alt="..." class="img-fluid"></div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p><strong class="name">Sarrah Wood</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="newsletter" class="newsletter bg-gray">
      <div class="container text-center">
        <h2>Subscribe to Newsletter</h2>
        <p class="lead">There are many variation passages of lorem ipsum, but the majority have</p>
        <div class="form-holder">
          <form id="newsletterForm" action="#">
            <div class="form-group">
              <input type="email" name="email" id="email" placeholder="Enter Your Email Address">
              <button type="submit" class="btn btn-primary btn-gradient submit">Subscribe</button>
            </div>
          </form>
        </div>
      </div>{% endcomment %}
    </section>
    <div id="scrollTop">
      <div class="d-flex align-items-center justify-content-end"><i class="fa fa-long-arrow-up"></i>To Top</div>
    </div>
{% endblock %}
