<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


<form action="/mov_gral/" method="get">
	{{form}}	
	<input name="boton" type="submit" value="Filtrar">
</form>


<table style="width:90%">
<tr>
	<th>Tipo</th> 
	<th>Producto</th> 
	<th>Cantidad</th> 
	<th>U.Med.</th>   
</tr>	

{% for movimiento in object_list %}
<tr>
	<td>{{movimiento.tipo}}</td>
	<td>{{movimiento.producto}}</td>
	<td>{{movimiento.cantidad}}</td>
	<td>{{movimiento.producto.unidad_medida}}</td>		
</tr>
{% endfor %}

	{# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href=".?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href=".?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

</table>

</body>
</html>