
{% extends 'stock/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-8 justify-content-center mr-5 ml-5">

            <table class="table table-sm">
              <thead class="thead-dark">
                <tr>
                  <th>Tipo Movimiento</th>
                  <th>Producto</th>
            	  <th>Cantidad</th>
                  <th>Importe</th>
                </tr>
              </thead>
              <tbody>
            		{% for movimiento in object_list %}
                <tr>
                  <td>{{movimiento.tipo}}</th>
                  <td>{{movimiento.producto}}</td>
                  <td>{{movimiento.cantidad}}</td>
            	  <td>{{movimiento.precio_peso}}</td>
                </tr>
            		{% endfor %}
            	</tboby>
            	</table>
            </div>

            <div class="col-2 mr-5 ml-5">
                {% crispy form %}
            </div>

        </div>

    </div>

{% endblock %}
