{% extends 'stock/base.html' %}

{% load bootstrap4%}

{% block content %}


<div class="container mx-center">
    <div class="row">
        <div class="col-6">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Producto</th>
                  <th>Stock</th>
                </tr>
              </thead>
              <tbody>
                {% for producto, stock in tabla.items %}
                <tr>
                    <td>{{producto}}</td>
                    <td>{{stock}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
